body {
	background-color: rgba(128, 128, 128, 0.73);
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
}

hr {
  border: 0;
  border-bottom: 1px dashed #000;
}

.wrapper {
	position: fixed ;
    width: 99.8vw ;
    height: 99.8vh;
    margin: 0%;
    padding: 0%;
}

#data {
	width: 29.8vw;
	padding-right: 0;
	border-right: solid 8px rgba(128, 128, 128, 0.73) ;
	background-color: #F1F1F1;
}

.panel {
	margin: 0 ;
	padding: 0 ;
	height: 99.6vh;
	width: 70vw;
}

.header {
	background-image: url("../img/header.jpg");
	height: 39px;
}

.header p {
	position: absolute ;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
	color: #fff ;
	font-size: 16px;
	margin-top: 5.7px ;
	margin-left: 5.5px ;
	display: inline ;
	background-color: #34689A ;
}

.tree-panel{
	margin: 0; 
	padding: 0;
}

/* Tree search */

.tree-search {
	background: #beebff;
  	background: -webkit-linear-gradient(top, #beebff 0%, #add8e6 100%);
  	background: linear-gradient(to bottom, #beebff 0%, #add8e6 100%);
}

#search-box {
	height: 10vh ;
	text-align: left ;
	display: none ;
	max-height: 10vh; 
	border-bottom: solid 2px #34689A ;
}


#pull-search {
	display: inline-block ;
	border-bottom: solid 2px #34689A  ;
	border-radius: 0 0 8px 8px ;
	height: 30px ;
	float: right ;
	cursor: pointer ;
	background: inherit ;
	margin-bottom: 10px ;
}

#pull-search p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ;
	font-size: 14px;
	color: #fff ;
	padding-right: 10px ;
}

#pull-search p, img {
	display: inline-block ;
}

#search-field {
	width: 20vw;
	margin-top: 1vh;
	margin-left: 1vw;
}

/* Database tree */

#tree {
	text-transform: uppercase ;
	font-size: 13px;
	font-weight: 600 ;
	overflow-y: auto ;
	width: inherit ;
	height: 53vh ;
}

/* Details view */

#details {
	margin: 0; 
	padding: 0;
	border-top: solid 4px rgba(128, 128, 128, 0.73) ;
}

#view-option {
	margin-top: 10px ;
}

#view-option img {
	display: block ;
	margin-left: auto ;
	margin-right: auto ;
}

#details-field {
	padding: 0 8px 0 8px ;
	overflow-y: auto ;
	height: 28vh ;
	word-wrap: break-word;
}

#details-field h1 {
	font-size: 16px ;
	text-transform: uppercase ;
	font-weight: bold ;
}

#details-field h2 {
	font-size: 14px ;
	font-weight: bold ;
}

#details-field p {
	font-size: 12px ;
	display: inline-block ;
	margin-bottom: 2px ;
	padding: 0 ;
}

#table, #column {
	text-transform: uppercase;
	font-weight: bold ;
}

/* Charts list */

#chart-list {
	margin-left: 5px ;
	margin-right: 5px ;
}

#chart-list h3, h4 {
	margin-top: 20px ;
}

#chart-selection {
	padding: 0;
}

#chart-selection select {
	margin-top: 10px ;
}

#chart-image {
	display: block ;
}


#go-back {
	margin-top: 5px ;
	margin-right: 10px ;
}

#use-chart {
	float: left ;
}

/* Chart options */ 

#chart-options {
	height: 200px ;
	overflow: hidden ;
	border-bottom: 1px dashed #000 ;
}

#chart-options h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	margin-top: 8px ;
	margin-left: 10px ;
	display: block ;
}

/* Data options view */ 

.selection-input * {
	vertical-align: top ;
	margin-bottom: 4px ;
	width: 100% ;
}

.selection-input label {
	margin-top: 3px ;
	margin-bottom: 2px ;
}

.date-input * {
	vertical-align: top ;
	margin-top: 3px ;
}

.date-input input {
	height: 23px ;
}

.date-input label {
	display: inline-block;
    width: 50px;
}

.no-option * {
	margin-top: 3px ;
	display: inline-block ;
}

.no-option p {
	margin: 0px ;
}

.list-input {
	margin-top: 3px ;
}


.list-input td {
	padding: 0 3px 0 3px ;
	border-bottom: 0.2px solid #d3d3d3 ;
}

.list-input table {
	width: 100% ;
}

.table-scroll {
	overflow-y: auto ;
	height: 70px;
	border: 0.5px solid #d3d3d3  ;
}

.radio-input label {
	margin-top: 3px ;
	display: block ;
}

.radio-input .inline {
	display: inline-block ;
	margin: 0 6px 0 6px ;
}

.text-input textarea {
	resize: none ;
	width: 100% ;
}

/* General classes */ 

.switch {
	color: blue ;
	text-decoration: underline;
	cursor: pointer ;
	float: right ;
}

.on-vertical-border {
	cursor: ew-resize;
}

.on-horizontal-border {
	cursor: ns-resize;
}

.no-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*.loading {
	background-image: url('../img/carregando.gif') ;
	background-position: center bottom 30px;
	background-repeat: no-repeat ;
}*/

